body
{
    background-image: url(./images/screenshot_PV.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-y: hidden;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(54, 54, 61);
}

#mainContainer
{
    width: 100%;
}
#titleContainer
{
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
}
#mainTitle
{
    font-size: x-large;
    font-weight: 700;
    text-align: center;
}
#listsContainer
{
    margin-top: 10px;
    margin-left: 10px;
    margin-top: 50px;
    padding-bottom: 30px;


    overflow-x: auto;
    white-space: nowrap;
}
/*#region listcontainer scrollbar*/
#listsContainer::-webkit-scrollbar {
    height: 15px;
  }
  #listsContainer::-webkit-scrollbar-track {
background: rgba(115, 115, 115, 0.6); 
border-radius: 7px;
}
#listsContainer::-webkit-scrollbar-thumb {
background: rgba(175, 175, 175, 0.6); 
border-radius: 7px;
}
#listsContainer::-webkit-scrollbar-thumb:hover {
background: rgba(160, 160, 160, 0.6); 
}
/*#endregion*/
.list
{
    display: inline-block;
    vertical-align: top;
    background-color: gainsboro;
    width: 275px;
    border-radius: 2px;
    margin: 0px 4px 0px 4px;
    padding: 5px;
}
/*#region list scrollbar*/
.list ul::-webkit-scrollbar {
    width: 10px;
  }
.list ul::-webkit-scrollbar-track {
background: rgba(190, 190, 190, 0.6); 
border-radius: 5px;
}
.list ul::-webkit-scrollbar-thumb {
background: rgba(128, 128, 128, 0.6); 
border-radius: 5px;
}
.list ul::-webkit-scrollbar-thumb:hover {
background: rgba(100, 100, 100, 0.6); 
}
/*#endregion*/
.list ul
{
    max-height: 500px;
    overflow-y: auto;
    padding: 5px;
}
.list ul li
{
    list-style-type: none;
    background-color: whitesmoke;
    margin: 10px 0px 10px 0px;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0px 1px rgb(109, 109, 109);
}
.listName
{
    font-size: 18px;
    font-weight: bold;
    padding: 8px 10px;
}
#buttonCreateList
{
    display: inline-block;
    text-align: left;
    font-weight: lighter;
    background-color: rgba(220, 220, 220, 0.5);
    border: none;
    width: 18%;
    border-radius: 2px;
}